<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <div th:fragment="header-css">
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css}"/>
        <!-- jQuery library -->
        <script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js}"/>
        <!-- Latest compiled JavaScript -->
        <script th:src="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js}"/>
        <!-- My Styles -->
        <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
        <!-- Java Scripts -->
        <script th:src="@{/js/jquery.min.js}"></script>
        <script th:src="@{/js/whosIn.js}"></script>
        <!-- My Info Tags -->
        <mytag style="display:none;" id="userRole" sec:authorize="isAuthenticated()" sec:authentication="principal.authorities"/>
    </div>
    <!-- Metas -->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
</head>
<body>

<div th:fragment="header">
    <!-- this is header -->
    <nav class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" th:href="@{/}">ZL's Mobile Apps</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="navBarList"><a th:href="@{/admin}">Admin Home</a></li>
                    <li class="navBarList"><a th:href="@{/createUser}">Create User</a></li>
                    <li class="navBarList"><a th:href="@{/userList}">Users</a></li>
                    <li class="navBarList"><a th:href="@{/mobileApps}">Mobile Apps</a></li>
                    <li class="navBarList"><a th:href="@{/settings}">Settings</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>

</body>
</html>