<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>404 - ZL's M.A.H.</title>
    <div th:replace="fragments/header :: header-css"/>
</head>

<body>

<div th:replace="fragments/header :: header"/>

<div class="container">

    <div class="mainMenu center">
        <h1>404 - Sorry this page is unavailable!</h1>
        <br/>
        <h3 th:inline="text">Dear [[${#httpServletRequest.remoteUser}]], you have to wait more to see this page.</h3>
    </div>

</div>
<!-- /.container -->

<div th:replace="fragments/footer :: footer"/>

</body>
</html>