<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>About - ZL's M.A.H. </title>
    <div th:replace="fragments/header :: header-css"/>
</head>

<body>

<div th:replace="fragments/header :: header"/>

<div class="containerToHeader">

    <div class="mainMenu center">
        <h1 th:inline="text">Welcome dear Guest!</h1>
        <h3>You are on the Admin page right now.</h3>

        <div class="row">
            <div class="row">
                <a th:href="@{/}">
                    <button type="button" class="button" style="vertical-align:middle"><i class="fa fa-home"></i><span>Home </span></button>
                </a>
            </div>
        </div>
        <!--/* BREAK */-->
        <br/>
        <!--/* BREAK */-->
    </div>
</div>
<!-- /.container -->

<div th:replace="fragments/footer :: footer"/>

</body>
</html>