<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Home - ZL's M.A.H. </title>
    <div th:replace="fragments/header :: header-css"/>
</head>

<!--/*Disable the Developer tool. <body oncontextmenu="return false" onkeydown="return false;" onmousedown="return false;"> */-->
<body>

<div th:replace="fragments/header :: header"/>

<div class="containerToHeader">
    <div class="mainMenu center">
        <h1>ZL's Mobile App Handler</h1>
        <h3>Welcome to our Mobile App handler!</h3>
        <!--/* BREAK */-->
        <br/>
        <!--/* BREAK */-->
        <img class="iconImage" src="../favicon.ico" title="This is the icon of the Web Application."/>
        <!--/* BREAK */-->
        <br/>
        <!--/* BREAK */-->

        <h2>
            <a th:href="@{/admin}" title="You can login as a Admin.">
                <button type="button" class="button" style="vertical-align:middle"><i class="fa fa-home"></i><span>  Admin page </span></button>
            </a>
        </h2>
        <h2 class="hidden">
            <a th:href="@{/user}" title="You can login as a User.">
                <button type="button" class="button" style="vertical-align:middle"><i class="fa fa-user"></i><span>  User page</span></button>
            </a>
        </h2>
        <h2>
            <a th:href="@{/about}" title="You can read about us.">
                <button type="button" class="button" style="vertical-align:middle"><i class="fa fa-book"></i><span>  About page</span></button>
            </a>
        </h2>
        <!--/* BREAK */-->
        <br/>
        <!--/* BREAK */-->
    </div>
</div>
<!-- /.container -->

<div th:replace="fragments/footer :: footer"/>

</body>
</html>