<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Login - ZL's M.A.H.</title>
    <div th:replace="fragments/header :: header-css"/>
</head>

<body>

<div th:replace="fragments/header :: header"/>

<div class="containerToHeader">

    <div class="mainMenu center">
        <form th:action="@{/login}" method="post">
            <fieldset>

                <h1>ZL's Mobile Apps</h1>

                <div th:if="${param.error}">
                    <div class="alert alert-danger">
                        <p>Invalid username and password. Please check it!</p>
                    </div>
                </div>

                <div th:if="${param.logout}">
                    <div class="alert alert-info">
                        <p>You have been logged out successfully.</p>
                    </div>
                </div>

                <img class="iconImage" src="../favicon.ico" title="This is the icon of the Web Application."/>

                <h2>Please Sign In to the site.</h2>

                <div>
                    <label class="plogin">Username:
                    <input type="text" name="username" id="username" placeholder="User name here" required="true" autofocus="true"/>
                    </label>
                </div>

                <div>
                    <label class="plogin">Password:
                    <input type="password" name="password" id="password" placeholder="Password here" required="true"/>
                    </label>
                </div>

                <!--/* BREAK */-->
                <br/>
                <!--/* BREAK */-->

                <div class="row" title="Sign in to the site...">
                    <button type="submit" class="button" style="vertical-align:middle"><i class="fa fa-sign-in"></i><span>Sign in </span></button>
                </div>

                <div class="row" title="Go back to the first page.">
                    <a th:href="@{/}">
                        <button type="button" class="button" style="vertical-align:middle"><i class="fa fa-home"></i><span>Home </span></button>
                    </a>
                </div>
                <!--/* BREAK */-->
                <br/>
                <!--/* BREAK */-->
            </fieldset>
        </form>
    </div>

</div>

<div th:replace="fragments/footer :: footer"/>

</body>
</html>