<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Mobile App's - ZL's M.A.H.</title>
    <div th:replace="fragments/header :: header-css"/>
    <!-- Java Scripts -->
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/indexJs.js}"></script>
</head>

<body>

<div th:replace="fragments/header :: header"/>

<div class="containerToHeader">

    <div class="mainMenu center">
        <h1>Mobile Apps Page</h1>
        <!--/* BREAK */-->
        <br/>
        <!--/* BREAK */-->
        <table id="customers">

        </table>
        <!--/* BREAK */-->
        <br/>
        <!--/* BREAK */-->
        <div class="row">
            <div class="row">
                <a th:href="@{/}">
                    <button type="button" class="button" style="vertical-align:middle"><i class="fa fa-home"></i><span>Home </span></button>
                </a>
            </div>
        </div>

        <h3>Here is where you can see the users and applications in one table.</h3>

    </div>
</div>
<!-- /.container -->

<div th:replace="fragments/footer :: footer"/>

</body>
</html>