<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>User - ZL's M.A.H.</title>
    <div th:replace="fragments/header :: header-css"/>
</head>

<body>

<div th:replace="fragments/header :: header"/>

<div class="containerToHeader">

    <div class="mainMenu center">
        <h1 th:inline="text">Welcome dear [[${#httpServletRequest.remoteUser}]]!</h1>
        <h3>You are on the User page right now.</h3>
        <!--/* BREAK */-->
        <br/>
        <!--/* BREAK */-->
        <p>Little Music: </p>
        <iframe name="iframe_a" width="300" height="200" src="https://www.youtube.com/embed/NDJTw5MwhG0"/>
        <!--/* BREAK */-->
        <br/>
        <!--/* BREAK */-->
        <a href="https://www.youtube.com/watch?v=NDJTw5MwhG0" target="new">YouTube.com</a>

        <div class="row">
            <!--/* BREAK */-->
            <br/>
            <!--/* BREAK */-->
        </div>

        <div class="row">
            <form th:action="@{/logout}" method="post">
                <button type="submit" class="button" style="vertical-align:middle"><i class="fa fa-sign-out"></i><span>Sign out </span></button>
            </form>
        </div>
        <!--/* BREAK */-->
        <br/>
        <!--/* BREAK */-->
    </div>

</div>
<!-- /.container -->
<div th:replace="fragments/footer :: footer"/>

</body>
</html>